<!DOCTYPE html>
<html>
    <head>
        <title> Account - Add </title>
    </head>
    <body>
        <h1> Add New Account </h1>
        <form action="/account/insert" method="get">
            Company name: <input name = "accound_id" type="text"/>
            <br />
            <input type = "submit"/>
        </form>
    </body>
</html>